* {margin 0; padding 0;}
body{
  font-family: arial, helvetica, sans-serif;
  background-color: #d62828;
}
#wrapper{
  min-width: 760px; max-width: 1100px; margin:auto;

}
header{
  width:100%;
  margin: 10px 0 0;
  background: #fff;
  display: table;
}
header img{
  display: table-cell;
  height: 100px;
  margin: 25px 0 20px 25px;
}
header h1{
  display: table-cell;
  vertical-align: middle;
}
nav.menu ul{
  margin:4px 0 0 ;
  padding-left:0;
  display: inline-block;
  border-left:1px solid #fff;
}
nav.menu li{
  list-style-type: none;
  float:left;
  border-top: 1px solid #fff;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  padding: 10px 10px;
}
nav a{
  color:#fff;
  text-decoration: none;
}
section.homemain{
  margin:0;
  display: table;
  background-color: #fff;
}
video{
  padding:50px 0 0 10px;
}
section img{
  display: table-cell;
  width:400px;
}
div.announcements{
  display: table-cell;
  padding:0 10px 0 20px;
  vertical-align: middle;
}
section.homemain h2{
  text-align: center;
}
section.attention{
  margin:0;
  display: table;
  background-color: #fff;
  padding:0 0 0 10px;
}
.attention .upcoming h2{
  text-align:center;
}
.attention .upcoming{
  padding:0 7em 0 0;
  display: table-cell;
  border-right:1px solid white;
}
.attention .resources{
display: table-cell;
padding:0 7em 0;
border-right:1px solid white;
}
.attention .reminders{
  display: table-cell;
  width:100%;
}
.attention .reminders h2{
  padding: 0 0 0 7em ;
}
.attention .reminders p{
  padding: 0 4em 0 4em;
}
.recommentations{
  display: table;
  border-top: 1px solid white;
  margin-top: 5px;
  background-color: #fff;
}
.recommentations div h2{
  text-align: center;
}
.recommentations div{
  display: table-cell;
  padding:0 1em;
}
.aboutme{
  display: table;
  background-color: #fff;
}
.aboutme div{
  padding: 0 0 0 5px;
  display: table-cell;
  vertical-align:top;
}
.aboutme img{
  display: table-cell;
}

form{
  background-color: #fff;
}
form .note{
  padding: 5px 0 0 0;
  font-size: .8em;
}
form section{
  padding:0 0 5px 5px;
}

footer {
	margin-top: 10px;
	margin-bottom:;
	clear:both;
	background:#fff;
	text-align:center;
	padding: 1px;
  color:#000;
	}
